body{
	background-image: url("../pics/form.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.field-icon {
  float: right;
  margin-left: -25px;
  margin-top: -25px;
  position: relative;
  z-index: 2;
}
.scroll{
	overflow-x: auto;
}
.color{
	color: white;
}